<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adminprospera.rasped_tool">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

            <!-- quitar la barra de titulo para este activity -->

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.BROWSABLE" />
            </intent-filter>
        </activity>
        <activity android:name=".AccederActivity" />
        <activity
            android:name=".AdministradorActivity"
            android:label="@string/title_activity_administrador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".RegistradorActivity"
            android:label="@string/title_activity_registrador"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UsuariosActivity"
            android:label="@string/title_activity_usuarios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".HorariosActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".InformacionActivity" />
        <activity android:name=".EscanerActivity" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity android:name=".ContrasenaActivity" />
        <activity
            android:name=".TodosHorariosActivity"
            android:label="@string/title_activity_todos_horarios"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TodoPersonalActivity"/>
    </application>

</manifest>